
<div class="container">
    <br/>
    <div class="card">
      <div class="card-header text-white bg-secondary">
            <h5 class="card-header">Declarer un probleme</h5>
	<!-- L'en-tête ici -->
      </div>
      <div class="card-body">
            
        <h5 class="card-title">Veuillez renseigner les zones suivantes et soummettre votre demande</h5>
        
      </div>
      
<!--   <span *ngIf="(problemeForm.get('prenom').touched || 
            problemeForm.get('prenom').dirty) &&
            problemeForm.get('prenom').errors">
      
            <span *ngIf="[problemeForm.get('prenom').errors.['minlength']]">
                   Indiquer au moins 3 caracteres
            </span>
      </span>
-->

      
         </div>
      

      
    </div>

